.container{
    display: flex;
position: relative;
top: 20px;
justify-content: center;

}
body{
    background: url("pexels-lukas-317371.jpg");
    background-size: cover;
    background-attachment: fixed;
    
}
*{
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}

.card{
    width: 35vw;
}
.title_text{
    /* border: 2px solid black; */
    /* padding-bottom: 15px; */
    padding-top: 0px;
    /* margin-top: 10px; */
    /* margin: 15px; */
}
.button{
   display: flex;
 justify-content: center;
 margin: 5px;
}